*.cpython-37.pyc
/copper/__pycache__/
dev
aggregate_test.py
test-1.py
venv
res
*.svg
/copper/*.pyc
*.py
data/
makefile
template.txt
chiller_curves_updated.json
env.sh
pkl_0706/
template_appendixG.txt
template_eplus96.txt
*.csv
/check_roundoff/
*.sbatch
/figures/

