*.cpython-37.pyc
/copper/__pycache__/
dev
venv
res
*.svg
/copper/*.pyc
*.py
data/
makefile
chiller_curves_updated.json
env.sh
pkl_0706/
*.sbatch
/chillers/
3SF_results.csv
check_roundoff/
/figures
*.txt
/report/

