name: Docs
on: [push, pull_request, workflow_dispatch]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install documentation dependencies
        run: |
          pip install sphinx sphinx-rtd-theme
      - name: Install general dependencies
        run:  |
          python -m venv ./.venv && . ./.venv/bin/activate && pip install -r requirements.txt
        if: steps.cache-venv.outputs.cache-hit != 'true'
      - name: Sphinx build
        run: |
          sphinx-build docs/source build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/develop' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/
          force_orphan: true